<!-- Content Heading -->
<% if (title) { %>
<h1 class="add-inv"><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- Message -->

<div id="messages">
  <% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %> <% if(error.msg != "Invalid value")
    {%>
    <li><%= error.msg %></li>
    <% }}) %>
  </ul>
  <% } %> <%- messages %>
</div>

<form action="/inv/admin/add-inventory" method="POST">
    <h3>Classification:</h3>
    <%- classification_drop %>
    <br>
    <h3>Vehicle Information:</h3>
    <label for="inv_make">Make:</label>
    <input type="text" name="inv_make" id="inv_make" value="<%= inv_make || '' %>" minlength="3" required>
    <label for="inv_model">Model:</label>
    <input type="text" name="inv_model" id="inv_model" value="<%= inv_model || '' %>" minlength="3" required>
    <label for="inv_description">Description:</label>
    <textarea name="inv_description" id="inv_description" value="<%= inv_description || '' %>" minlength="3" required style="width: 334px;"></textarea>
    <label for="inv_image">Image Path:</label>
    <input type="text" name="inv_image" id="inv_image" value="<%= inv_image || '' %>" placeholder="/path/to/image.png" required>
    <label for="inv_thumbnail">Thumbnail Path:</label>
    <input type="text" name="inv_thumbnail" id="inv_thumbnail" value="<%= inv_thumbnail || '' %>" placeholder="/path/to/image.png" required>
    <label for="inv_price">Price:</label>
    <input type="number" name="inv_price" id="inv_price" value="<%= inv_price || '' %>" placeholder="60000" step="0.01" required>
    <label for="inv_year">Year:</label>
    <input type="number" name="inv_year" id="inv_year" value="<%= inv_year || '' %>" min="1900" max="<%= new Date().getFullYear() + 1 %>" required>
    <label for="inv_miles">Miles:</label>
    <input type="number" name="inv_miles" id="inv_miles" value="<%= inv_miles || '' %>" required>
    <label for="inv_color">Color:</label>
    <input type="text" name="inv_color" id="inv_color" value="<%= inv_color || '' %>" minlength="3" required>
    <button type="submit">Add Vehicle</button>
</form>
<a id="adminPage" href="/inv/admin/"><button>Go Back</button></a>
